<h1>Docentes encontrados</h1>

<table>
  <thead>
    <tr>
      <th>Especialidad</th>
      <th>Nombre</th>
      <th>Comuna</th>
      <th>Valor de Hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<!--
 <tbody>
    aqui van los datos de reservations/index, pero hay que cambiar los datos
  </tbody>

-->
</table>
